/* Add a cover background picture for the featured part with a fixed height */
.jumbotron {
	/* 'center center' centers the image vertically and horizontally */
	/*background: url("http://freenaturestock.s3.amazonaws.com/166.jpg") center center;*/
	background: url("images/166.jpg") center center;
	background-size: cover;
	height: 600px;
}

/* set the size of the logo */
.logo {
	width: 75px;
	height: 75px;
}